# Node
client/node_modules/
client/dist/

# .NET
server/**/bin/
server/**/obj/
server/**/*.user
server/**/appsettings.Development.json

# Environment
.env
.env.local

# Archives
*.zip
*.rar
*.tar.gz

# OS
.DS_Store
Thumbs.db

# Secrets
replacements.txt
